body {
    background-color: #232323;
    color: #b8bad1;
    margin: 0;
    padding: 20px;
    font-family: "Sansation";
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

input {
    display: block;
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: #b8bad1;
    font-size: 1em;
}

button {
    padding: 5px 15px;
    border: 1px solid #000;
    background-color: #b8bad1;
    cursor: pointer;
}

button:hover {
    background-color: #d4d4d4;
}

footer {
    margin-top: 40px;
    font-size: 0.8em;
    position: fixed;
    bottom: 10px;
}
@font-face {
    font-family: "Sansation";
    src: url(Sansation-Regular.ttf);
}