body {
    background: black;
    margin: 0px;
    padding: 0px;
}
.pane {
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 1rem;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
    inset 0 4px 20px rgba(255, 255, 255, 0.3);
}
#background {
    height: 100%;
    aspect-ratio: 2/1;
    background: blue;
}